body {
	background: blue;
}
section img {
	border-style: double 1px;
	padding-left: 20px;
}
h1 {
	margin: 40px;
}
.center {
	text-align: center;
	padding-left: 1px;
	}
#color {
	color: white;
}	